{% extends "base.html.twig" %}

{% block main %}
<div role="main" class="main">
    <section class="section my-0">
        <div class="container py-5 my-5">
            <div class="row justify-content-center mt-5 py-4">
                <div class="col-12 col-sm-auto text-center text-sm-left mt-5">
                    <span class="d-block font-weight-light negative-ls-1 text-5 ml-2 mb-1 appear-animation" data-appear-animation="fadeInUp"><em class="opacity-8">Le moins cher</em></span>
                    <h1 class="font-weight-extra-bold text-color-dark negative-ls-3 text-10 mb-2 appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="200"><em>Trouvez le prix le moins cher</em></h1>
                    <span class="d-block text-sm-right alternative-font text-color-primay ml-2 ml-sm-0 appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="400">since 2021</span>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-10 text-center">
                    <p class="lead lead-2 mb-5 appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="600">Porto is simply the best choice for your new website. The theme is several years among the most popular in the world, being constantly improved and following the trends of design and best practices of code. Your search for the best solution is over, get your own copy and join thousands of happy customers.</p>
                    <a href="#demos" data-hash data-hash-offset="125" class="btn btn-primary btn-rounded btn-xl font-weight-semibold text-2 px-5 py-3 box-shadow-2 appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="800">VIEW ALL DEMOS</a>
                </div>
            </div>
        </div>
    </section>
    <div class="container py-4">
        <div class="row">
            <div class="col">

                <div class="blog-posts">

                    <div class="masonry-loader masonry-loader-showing">
                        <div class="masonry row" data-plugin-masonry data-plugin-options="{'itemSelector': '.masonry-item'}">

                            {% for page in pages %}
                                {% set image = getWpMediaById(page.featuredMedia) %}
                                <div class="masonry-item no-default-style col-md-4">
                                    <article class="post post-medium border-0 pb-0 mb-5">
                                        <div class="post-image">
                                            <a href="{{ path('happyr_wordpress_page', {slug: page.slug}) }}">
                                                <img src="" class="img-fluid img-thumbnail img-thumbnail-no-borders rounded-0" alt="Top Camper Trailer Towing Tips" />
                                            </a>
                                        </div>

                                        <div class="post-content">

                                            <h2 class="font-weight-semibold text-5 line-height-6 mt-3 mb-2"><a href="{{ path('happyr_wordpress_page', {slug: page.slug}) }}">{{ page.title }}</a></h2>
                                            <p>{{ page.excerpt|raw }}</p>

                                            <div class="post-meta">
                                                <span><i class="far fa-user"></i> By <a href="#">John Doe</a> </span>
                                                <span><i class="far fa-folder"></i> <a href="#">Travel</a>, <a href="#">Lifestyle</a> </span>
                                                <span><i class="far fa-comments"></i> <a href="#">12 Comments</a></span>
                                                <span class="d-block mt-2"><a href="blog-post.html" class="btn btn-xs btn-light text-1 text-uppercase">Read More</a></span>
                                            </div>

                                        </div>
                                    </article>
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
